/* 캘린더 css*/
html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.clearfix:after {
	content: '';
	display: block;
	clear: both;
	float: none;
}

/* 이코드 안쓰면 캘린더에서 한줄 다 차지해버림!*/
#calendar_bg {
	width: 50px;
}

/* ======== Calendar ======== */
.my-calendar {
	width: 500px;
	margin-right: 50px;
	padding: 40px 40px 40px 40px;
	text-align: center;
	font-weight: 800;
	/*border: 1px solid #ddd;*/
	cursor: default;
	margin-left: 80px;
}

/* 이거는 블러처리 해서 임의로 안보이게 함*/
.my-calendar .clicked-date {
	border-radius: 25px;
	margin-top: 15px;
	float: left;
	width: 42%;
	padding: 26px 0 26px;
}

/* 캘린더 글씨 부분*/
.my-calendar .calendar-box {
	float: right;
	width: 58%;
	margin-top: 15px;
	margin-right: 40px;
	position: absolute;
	left: -6px;
}

.cal-day {
	color: #fff;
}

.clicked-date .cal-day {
	font-size: 24px;
}

.clicked-date .cal-date {
	font-size: 60px;
	color: #fff;
}

/* 달력 상단부분*/
.ctr-box {
	padding: 0 16px;
	margin-bottom: 20px;
	font-size: 20px;
	margin-left: 75px;
	width: 350px;
}

.ctr-box .btn-cal {
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 5px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	background: none;
}

.ctr-box .btn-cal:after {
	content: '<';
	color: #555;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 23px;
	font-weight: bold;
	font-size: 20px;
}

.ctr-box .btn-cal.next {
	float: right;
}

.ctr-box .btn-cal.next:after {
	content: '>';
}

/* 날짜 크기 지우면안됨*/
.cal-table {
	width: 130%;
	margin-left: 75px;
}

.cal-table th {
	width: 14.2857%;
	padding-bottom: 5px;
	font-size: 16px;
	font-weight: 900;
}

.cal-table td {
	padding: 5px 0;
	height: 45px;
	font-size: 15px;
	vertical-align: middle;
}

.cal-table td.day {
	position: relative;
	cursor: pointer;
}

.cal-table td.today {
	background: #ffd255;
	border-radius: 48%;
	color: #fff;
}

.cal-table td.day-active {
	background: #475695;
	border-radius: 48%;
	color: #fff;
}

.cal-table td.has-event:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #FFC107;
}
/*캘린더 css 끝*/